html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

html, body, p, h1, h2, h3, ul {
  margin: 0;
}

header {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

header > img {
  width: 50px;
}

header > #navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
}

header > #navBar > a {
  padding: 6px;
}

header::after {
  content: '';
  width: 50px;
}

@media (max-width: 630px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  header img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 6px;
  }
}

content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

content main, content sidebar {
  padding: 12px;
}

content sidebar.sidebar-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 120px;
          flex: 0 120px;
}

content sidebar.sidebar-right > .sidebar-right__news {
  position: relative;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  padding: 6px;
}

content sidebar.sidebar-right > .sidebar-right__news > div {
  padding: 6px;
}

content main {
  -webkit-box-flex: 1;
      -ms-flex: 1 300px;
          flex: 1 300px;
}

content main > div {
  padding: 6px;
}

content main > #header {
  text-align: center;
}

content main > .textBlock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  margin: 12px 0;
}

content main > .textBlock > img {
  width: 100px;
  height: 100px;
}

content main > .textBlock > div {
  padding: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

content main > .textBlock > div > button {
  font-weight: 700;
  margin-top: 12px;
  padding: 6px 12px;
  border: 1px solid;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.1);
}

content main > .textBlock > div > button:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: .1s background-color, .1s border-color, .1s color;
  transition: .1s background-color, .1s border-color, .1s color;
}

@media (max-width: 630px) {
  content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05), 0 4px 12px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05), 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

footer socials {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

footer socials > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 50px;
          flex: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer socials img {
  width: 25px;
}

footer ul#links {
  -webkit-box-flex: 0;
      -ms-flex: 0 100px;
          flex: 0 100px;
  padding: 12px 12px 12px 24px;
  font-size: 90%;
}

footer ul#links > li {
  padding: 6px;
}

@media (max-width: 630px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media (max-width: 630px) {
  body * {
    font-size: 120%;
  }
}
/*# sourceMappingURL=brand.css.map */