$pad_small: 6px;
$pad_medium: 12px;
$pad_big: 24px;
$mar_small: 6px;
$mar_medium: 12px;
$mar_big: 24px;

$logo_width: 50px;
$sidebar_width: 120px;
$main_width: 300px;
$mobile: ($sidebar_width + $main_width) * 1.5;

$content_image_size: 100px;
$socials_block_size: 50px;
$socials_image_size: 25px;
$link_width: 100px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

html, body, p, h1, h2, h3, ul {
  margin: 0;
}

button {
  font-weight: 700;
  margin-top: $mar_medium;
  padding: $pad_medium/2 $pad_medium;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0 rgba(0,0,0,.1);
}

button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 6px 0 rgba(0,0,0,.15);
  transition: .1s background-color, .1s border-color, .1s color;
}

button:focus {
  outline: 0;
}

header {
  padding: $pad_medium;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);

  > img {
    position: relative;
    width: $logo_width;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.25);
  }

  > #nav-bar {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: $pad_small;

    > a {
      padding: $pad_small;
    }
  }

  &::after {
    content: '';
    width: $logo_width;
  }

  @include mobile() {
    flex-flow: column;

    img {
      align-self: center;
      margin-bottom: $mar_small;
    }
  }
}

content {
  display: flex;
  flex-flow: row;

  main, sidebar {
    padding: $pad_medium;
  }

  sidebar.sidebar-left {
    display: flex;
    flex-flow: column;

    > button {
      width: fit-content;
    }
  }

  sidebar.sidebar-right {
    flex: 0 $sidebar_width;
    
    > .sidebar-right__news {
      position: relative;
      box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
      padding: $pad_small;
      border-radius: 5px;
    }

    > .sidebar-right__news > div {
      padding: $pad_small;
    }
  }

  main {
    flex: 1 $main_width;

    > div {
      padding: $pad_small;
    }

    > #header {
      text-align: center;
    }

    > .text-block {
      position: relative;
      display: flex;
      box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
      margin: $mar_medium 0;
      border-radius: 5px;

      > img {
        width: $content_image_size;
        height: $content_image_size;
      }

      > div {
        padding: $pad_medium;
        flex: 1;
      }
    }
  }

  @include mobile() {
    flex-flow: column;

    sidebar.sidebar-left {
      flex-flow: row;
      justify-content: space-evenly;
    }

    sidebar.sidebar-right {
      text-align: center;
    }
  }
}

footer {
  display: flex;
  position: relative;
  box-shadow: 0 -4px 12px 0 rgba(0,0,0,.05), 0 4px 12px 0 rgba(0,0,0,.05);

  socials {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    > div {
      flex: 0 $socials_block_size;
      display: flex;
      justify-content: center;
    }

    img {
      width: $socials_image_size;
      padding: $pad_medium;
    }
  }

  ul#links {
    flex: 0 $link_width;
    padding: $pad_medium $pad_medium $pad_medium $pad_big;
    font-size: 90%;
  }

  ul#links > li {
    padding: $pad_small;
  }

  @include mobile() {
    flex-flow: column;

    socials img {
      width: $socials_image_size*1.5;
    }
  }
}

@media (max-width: $mobile) {
  body * {
    font-size: 120%;
  }
}